body {
    background: #f5f6f7 url(./images/bg.jpg) repeat-x 0 0;
}

#logo{
    margin-top: 120px;
    text-align: center;
}

#download {
    margin-top: 80px;
    text-align: center;
}

#download a {
    text-decoration: none;
}

#download img {
    margin: 0 24px;
}
