<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/pygments.css">
        <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.name }}</title>
    </head>
    <body>
        <div id="header">
            {% include header.html %}
        </div>

        <div id="wrapper">
            {{ content }}
        </div>

        <div id="footer">
            {% include footer.html %}
        </div>
    </body>
</html>
