<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/pygments.css">
        <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.name }}</title>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-41454193-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();

         </script>
     </head>
     <body>
         <div id="header">
             {% include header.html %}
         </div>

         <div id="wrapper">
             {{ content }}
         </div>

         <div id="footer">
             {% include footer.html %}
         </div>
     </body>
 </html>
