---
layout: default
---
<article>

    <h1 class="title">{{ page.title }}</h1>

    {% if page.date %}
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- post -->
    <ins class="adsbygoogle"
            style="display:inline-block;width:728px;height:90px"
            data-ad-client="ca-pub-4202549993377705"
            data-ad-slot="4538861272"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    {% endif %}

    {{ content }}

</article>

{% if page.comment != false %}
{% include disqus.html %}
{% endif %}
